@charset "UTF-8";
[v-cloak] {
  display: none !important; }

html, body {
  height: 100%; }

html {
  color: #606060 !important;
  font-size: 18px;
  font-style: normal;
  line-height: 1.6em;
  font-family: "Josefin Sans", sans-serif;
  background: url("/img/bg2.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  html h1 {
    font-size: 40px;
    line-height: 44px; }
  html h2 {
    font-size: 30px;
    line-height: 36px; }
  html h3 {
    font-size: 24px;
    line-height: 30px; }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1000px) {
    html {
      font-size: 14px; } }
  html h1, html h2, html h3, html h4, html h5, html h6, html label {
    font-weight: 600 !important; }
  html h1, html h2, html h3, html h4, html h5, html h6, html input, html textarea, html select, html button, html p {
    color: #606060;
    font-family: "Josefin Sans", sans-serif; }

body a {
  color: #008bc0;
  transition: color 0.2s; }
  body a:hover {
    color: #00668d; }

/* FORM */
input, textarea, select {
  border: 1px solid #008bc0 !important;
  padding: 0.5em;
  font-size: 1em; }

form.basic h3 {
  padding-bottom: 1em; }

form.basic label {
  display: block;
  padding-bottom: 1em;
  background: none;
  color: inherit;
  transition: color 0.2s, background 0.2s; }
  form.basic label.errors {
    color: #ff0033 !important; }
    form.basic label.errors input, form.basic label.errors select, form.basic label.errors textarea {
      color: #FFF !important;
      background: #ef8fa3 !important; }

/* TAKKI */
.takki,
a.takki,
button.takki {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.8em 1.6em;
  display: inline-block !important;
  font-weight: 600 !important;
  background: rgba(255, 255, 255, 0.65) !important;
  text-decoration: none !important;
  line-height: 1 !important;
  border: 1px solid #008bc0 !important;
  color: #008bc0 !important;
  transition: color 0.2s, background 0.2s; }
  @media (max-width: 768px) {
    .takki,
    a.takki,
    button.takki {
      display: block !important;
      width: 100% !important;
      box-sizing: border-box !important;
      text-align: center !important;
      margin-bottom: 0.5em !important; } }
  .takki span,
  a.takki span,
  button.takki span {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1 !important; }
  .takki.focus, .takki.active, .takki:hover,
  a.takki.focus,
  a.takki.active,
  a.takki:hover,
  button.takki.focus,
  button.takki.active,
  button.takki:hover {
    text-transform: uppercase;
    padding: 0.8em 1.6em;
    cursor: pointer;
    background: #00668d !important;
    border: 1px solid #00668d !important;
    color: #FFF !important; }

/* FORSÍÐUMYNDIR */
.forsidumyndir {
  position: relative; }
  .forsidumyndir .forsidumynd {
    background-color: rgba(255, 255, 255, 0.85);
    background-position: center center;
    display: block;
    width: 100%;
    height: 50vw;
    min-height: 300px;
    max-height: 700px;
    background-size: cover; }

.bordered {
  border: 1px solid #008bc0 !important; }

.skilmalar {
  margin-top: 0 !important;
  max-height: 400px;
  overflow-y: scroll;
  background: #FFF;
  padding: 1rem;
  font-size: 0.9rem; }
  .skilmalar p {
    font-weight: 300 !important;
    padding-top: 0;
    margin-top: 0; }
  .skilmalar h3 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important; }

/* NAV */
.uk-offcanvas-bar {
  background: #008bc0; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav.submenu div.being_viewed a {
  text-decoration: none;
  background: #00668d; }

nav.submenu div a {
  background: #008bc0;
  font-weight: 600;
  color: #FFF;
  border: 1px solid #cde8f2;
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  transition: background 0.2s; }
  nav.submenu div a:hover {
    text-decoration: none;
    background: #00668d; }

nav.offcanvas div {
  display: block;
  padding: 0;
  margin: 0; }
  nav.offcanvas div.being_viewed > a {
    background: #00668d; }
  nav.offcanvas div a {
    font-weight: 600;
    font-size: 120%;
    display: block;
    padding: 0.5em;
    border-bottom: 1px solid #00668d;
    margin: 0;
    color: #FFF; }
    nav.offcanvas div a:hover {
      text-decoration: none;
      color: #FFF; }

nav.top {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }
  nav.top a {
    font-size: 1em;
    text-decoration: none;
    /*text-transform: uppercase;*/
    display: block;
    padding: 0.6em 0.9em;
    white-space: nowrap;
    text-align: center;
    color: #008bc0;
    transition: color 0.2s, background 0.2s;
    font-weight: 600; }
    nav.top a:hover {
      color: #00668d;
      background: #cde8f2; }
  nav.top > div.active > a {
    color: #00668d;
    background: #cde8f2; }
  nav.top .being_viewed > a {
    color: #00668d;
    background: #cde8f2; }
  nav.top > div {
    border-right: 1px solid #cde8f2;
    position: relative;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; }
    nav.top > div:first-child {
      margin-left: 0.5em;
      border-left: 1px solid #cde8f2; }
    nav.top > div:last-child {
      margin-right: 0.5em; }
    nav.top > div.opened > div {
      display: block; }
    nav.top > div > div {
      border: 1px solid #cde8f2;
      background: rgba(255, 255, 255, 0.85);
      position: absolute;
      left: -1px;
      right: -1px;
      display: none; }
      nav.top > div > div a {
        font-size: 1em;
        border-bottom: 1px solid #cde8f2; }
      nav.top > div > div:last-child {
        border-bottom: 0px solid #cde8f2 !important; }

/* CART */
#cart .cart-table-container {
  position: relative;
  display: block;
  margin-bottom: 1em; }
  #cart .cart-table-container .updating-cart {
    background: rgba(0, 139, 192, 0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, background 0.2s; }
    #cart .cart-table-container .updating-cart.active {
      opacity: 1;
      pointer-events: auto;
      background: rgba(0, 139, 192, 0.2); }

#cart table.cart-table {
  background: #FFF;
  border: 1px solid #cde8f2;
  width: 100%; }
  #cart table.cart-table th, #cart table.cart-table td {
    padding: 0.5em !important; }
    #cart table.cart-table th img, #cart table.cart-table td img {
      border: 1px solid #cde8f2; }
  #cart table.cart-table ul {
    list-style: none;
    padding: 0;
    margin: 0; }

/* AUKA */
.table-tech {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse; }
  .table-tech tr {
    padding: 0;
    margin: 0;
    border-bottom: 1px dotted #DDD; }
  .table-tech td {
    font-size: 0.85em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .table-tech td:first-child {
    padding-left: 0 !important;
    text-align: left;
    font-weight: bold; }
  .table-tech td:last-child {
    padding-right: 0 !important;
    text-align: right; }

/* PRODUCT */
.product__option {
  padding-bottom: 1em; }

.product__price {
  color: #008bc0;
  font-weight: 600;
  font-size: 150%; }

.product__options label {
  display: block;
  clear: both; }

.product__mynd {
  border: 1px solid #cde8f2;
  clear: both; }
  .product__mynd a {
    display: block;
    text-align: center;
    background: #FFF; }
    .product__mynd a img {
      display: inline-block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 500px !important;
      height: auto !important; }

.product__aukamynd {
  text-align: center;
  padding-bottom: 1px;
  display: block;
  clear: both; }
  .product__aukamynd a {
    background: #FFF;
    margin: 0 auto;
    display: inline-block;
    text-align: center; }
  .product__aukamynd img {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #cde8f2; }

/* CONTAINERS */
.cart-widget-container {
  float: right; }
  @media (max-width: 768px) {
    .cart-widget-container {
      float: none !important;
      display: inline-block !important;
      text-align: center; } }

header {
  max-width: 1400px;
  display: block;
  padding-left: 0;
  border-bottom: 1px solid #cde8f2;
  padding-right: 0;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  /*margin-top: 2em;
	margin-bottom: 2em;*/
  padding-top: 2em;
  padding-bottom: 2em; }
  header h1 {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #008bc0;
    font-size: 240%; }
    header h1:before, header h1:after {
      content: " ";
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      width: inherit !important;
      clear: both;
      display: inline-block; }
    header h1:before {
      top: 0;
      border-bottom: 3px solid rgba(96, 96, 96, 0.75); }
    header h1:after {
      bottom: 0;
      border-top: 3px solid rgba(96, 96, 96, 0.75); }

.menu {
  position: relative;
  z-index: 100;
  border-top: 1px solid #cde8f2;
  border-bottom: 1px solid #cde8f2;
  background: rgba(255, 255, 255, 0.85); }

.content-container {
  border-left: 1px solid #cde8f2;
  border-right: 1px solid #cde8f2;
  background: rgba(255, 255, 255, 0.85);
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto; }

.content {
  box-sizing: border-box;
  padding: 25px;
  min-height: 600px; }

.haus {
  position: relative;
  padding: 2em;
  background: rgba(255, 255, 255, 0.85); }

.footer {
  color: #FFF !important;
  font-weight: bold;
  background: rgba(96, 96, 96, 0.95);
  height: 80px;
  line-height: 20px !important; }
  .footer a {
    line-height: 20px !important;
    color: #FFF !important; }
    .footer a:hover {
      color: #FFF !important; }

.page-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  clear: both; }

.mainwrap {
  position: relative;
  min-height: 100vh; }
  .mainwrap .footer {
    position: absolute;
    line-height: 20px !important;
    bottom: 0px;
    left: 0;
    right: 0; }

/* CARD */
.card {
  position: relative;
  display: block;
  transition: background 0.2s;
  background: #cde8f2; }
  .card:hover {
    background: #d5ecf4; }
    .card:hover .card__image {
      opacity: 0.8; }
  .card__image {
    transition: opacity 0.2s;
    position: relative;
    display: block;
    background-color: #FFF;
    border: 1px solid #cde8f2;
    min-height: 240px; }
  .card__text {
    font-weight: 600;
    padding: 0.6em;
    position: relative;
    display: block;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0; }

/* UIKIT */
.uk-notify-message {
  font-size: 125%;
  background: #008bc0 !important;
  line-height: 100%;
  padding: 1em; }
  .uk-notify-message a {
    color: #FFF !important; }
    .uk-notify-message a.uk-close {
      display: none !important;
      visibility: hidden !important; }
    .uk-notify-message a:hover {
      color: #FFF !important; }

/* CART WIDGET */
#cart-widget {
  position: relative;
  display: inline-block; }
  #cart-widget .cart-widget__link {
    display: block; }
  #cart-widget .cart-widget__link i {
    font-size: 3.5em; }
  #cart-widget .cart-widget__info {
    text-align: center !important;
    transition: opacity 0.5s;
    position: absolute;
    top: 3px;
    right: 9px;
    vertical-align: middle;
    background: #FFF;
    line-height: 22px;
    height: 22px;
    width: 22px;
    font-weight: 600;
    border-radius: 50%;
    font-size: 11px; }
  #cart-widget a {
    color: #008bc0; }
    #cart-widget a:hover {
      color: #008bc0; }

.uk-slidenav-position .uk-slidenav-previous {
  left: -30px !important; }

.uk-slidenav-position .uk-slidenav-next {
  right: 30px !important; }

.receipt {
  max-width: 500px;
  background: #FFF;
  line-height: 1rem;
  font-size: 0.85rem;
  border-radius: 3px;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
  .receipt table {
    width: 100%; }
    .receipt table td {
      padding: 0.5rem; }

/*# sourceMappingURL=app.css.map */
