$dark: $white;
$light: $white;
$color: $white;

@mixin btn() {
	padding: 0.5rem;
	height: 36px;
	width: 40px;
	bottom: 6px;
	position: relative;
	transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
}

.btn2{
	@include btn();

	.icon {
	@include icon(4px, 40px);

	&:before{
	@include icon-before(4px, 40px, -10px);
	}

	&:after{
	@include icon-after(4px, 40px, 10px);
	}
	}

	&.open {
	.icon {
	transition-duration: 0.5s;
	background: transparent;

	&:before{
	background-color: $black;
	transform: rotateZ(45deg) scaleX(1.15) translate(7px, 7px);
	}

	&:after{
	background-color: $black;
	transform: rotateZ(-45deg) scaleX(1.15) translate(6px, -6px);
	}
	}
	}
	&:hover {
	cursor: pointer;
	}
}